@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.Wrapper{
	max-width: 450px;
	margin: auto;
}

.Nav-div{
	background-color: #fff;
	display: flex;
	justify-content: space-between ;
	padding: 16px;
	position: -webkit-sticky;
	position:sticky;
	top: 0;

}


.Nav-div .Logo{
	font-size: 32pt;
}

.Btn{
	background-image: linear-gradient(to left, #FA641E, #FF881F);
	font-size: 14pt;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	border: 1pt;
	border-radius: 45px;
	padding-left: 20pt;
	padding-right: 20pt;
	padding-bottom: 8px;
	padding-top: 8px;

}

.Container1{
	padding-left: 16px ;
	padding-right: 16px ;
	padding-top: 32px;

	/* min-width: 100vh; */
	max-width: 100vh;
	

}

.Div1{
	background-image: linear-gradient(to right, #FA641E, #FF881F);
	/* margin-bottom: 36px; */
	padding-bottom: 105px;
	
}

.Title-div{
	display: flex;
	max-width: 400px;
	/* object-fit:contain; */
	
	
}

.Title-div img{
	height: 50pt;
	/* width: 100vh; */
	object-fit:cover;
	/* object-position: 20% 100%; */
	/* position: relative; */
	/* background-color: blue; */
	overflow-x: hidden;

}

.Container1 h2{
	min-width: 85%;
	font-size: 36pt;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	/* display: flex; */
		/* background-color: red; */

}

.Container1 p{
	margin-top: 36px;

	font-size: 16pt;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
}

.form1{
	margin-top: 20px;
	margin-left: 16px;
	margin-right: 20px;
	color: #333333;
	background-color: #FFFFFF;
	padding-top: 26px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 38px;
}

.form1 .Title{
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	/* background-color: #FF881F; */
	text-align: left;
	padding-bottom: 8px;
	
}

.form1 p{

	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/* background-color: #FF881F; */
	text-align: left;
	padding-bottom: 18px;
}

.Form-input label{
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/* background-color: #FF881F; */
	text-align: left;
	padding-bottom: 8px;
}

.Form-input{
	background-color: white;
}

input{
	padding: 14px;
	border-radius: 16px;
	width: 100%;
	padding-left: 16px;
	font-weight: 400;
	font-size: 14px;
	border-width: 1pt;
	border-top-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #ccc;
}

input::placeholder{
	color: #ccc;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

input[type='phone']{
	margin-bottom: 16px;
	/* background-color: #FA641E; */
	font-size: 13pt;
}

.form1 .Btn{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	padding-bottom: 12px;
	padding-top: 12px;
	border-radius: 18px;
	background-color: #FA641E;
	background-image: none;
}

.Btn:hover{
	background-color: #FA641E;
}

#div-meio{
	/* background-color: aqua; */
	color: #333333;
}

#div-meio #logo2{
	text-align: center;
	margin: auto;
	/* background-color: red; */
	display: block;
	position: relative;
	top: -68px;
	height: 148px;
}

#div-meio p{
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	/* background-color: #FF881F; */
	text-align: center;
	padding-bottom: 18px;
	padding-left: 85px;
	padding-right: 85px;
}

.card-banner{
	background-color: #FAFAFA;
	margin-left: 72px;
	margin-right: 72px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 40pt;
	color: #333333;
}

.card-banner img{
	height: 72px;
	margin: auto;
	display: block;

}

.card-banner #title{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	/* background-color: #FF881F; */
	text-align: center;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: auto;
}

.card-banner #desc{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/* background-color: #FF881F; */
	text-align: center;
	padding: 0;
}

.Secao2{
	/* background-color: violet; */
	padding: 40px;
	color: #333333;
}

.Secao2 .Title{
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	/* background-color: #FF881F; */
	text-align: center;
	
	padding-top: 20px;
	padding-bottom: 0px;
	margin: auto;
}

.Secao2 .Desc{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/* background-color: #FF881F; */
	text-align: center;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: auto;
}

.Tabular{
	/* background-color: #FA641E; */
	display: flex;
	justify-content: space-around;
}

.Tabular button{
	width: 70px;
	height: 5px;
	background-color:#FF881F;
	border: none;
	margin-left: 10px;
	border-radius: 5px;
}

.TabCard{
	width: 100%;
	/* background-color: aqua; */
}

.TabCard #title{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #333333;
	text-align: center;
	margin-left: 16px;
}

#card{
	
}

#card p {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: #FFFFFF;
	text-align: center;
}