@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
	/* background-color: #333333; */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

input{
    font-family: 'Poppins', sans-serif;
}

.Wrapper{
	max-width: 450px;
	margin: auto;
	overflow: hidden;
}




.Div1{
	background-image: linear-gradient(to right, #FA641E, #FF881F);
	/* margin-bottom: 36px; */
	padding-bottom: 105px;
	
}




.card-banner{
	background-color: #FAFAFA;
	margin-left: 72px;
	margin-right: 72px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 40pt;
	color: #333333;
}

.card-banner img{
	height: 72px;
	margin: auto;
	display: block;

}

.card-banner #title{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	/* background-color: #FF881F; */
	text-align: center;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: auto;
}

.card-banner #desc{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	/* background-color: #FF881F; */
	text-align: center;
	padding: 0;
}


.TabBar {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;

  }
  
  .TabBarButton {
	width: 92px;
	height: 5px;
	/* background-color: #ff881f; */
	border: none;
	/* margin-left: 10px; */
	border-radius: 5px;
	transition: 0.5s;
	/* padding: 20px; */
  }
  
  .TabCard {
	font-family: "Poppins", sans-serif;
	-webkit-transition: 2s;
	transition: 2s;
	padding-bottom: 0;

  }
  
  .TabCard #title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20pt;
	-webkit-transition: 2s;
	transition: 2s;
  }
  
  .TabCard div {
	background-image: linear-gradient(to left, #FA641E, #ff881f);
	margin-left: 16px;
	margin-right: 16px;
	border-radius: 40pt;
	-webkit-transition: 2s;
	transition: 2s;
	padding-bottom: 0;
	overflow-y: hidden;
  }
  
  .TabCard div #desc {
	color: #ffffff;
	padding: 40px;
	font-weight: 200;
	font-size: 11pt;
	text-align: center;
  }
  
  .TabCard img{
	height: 140pt;
	/* width: 382pt; */
	/*margin-bottom: 0px;*/
	margin: auto;
	display: flex;
	position: relative;
	bottom: -5px;
	/*background-color: red;*/
	
  }