

.div-flex {
    
    display: flex;

    width: 100%;
    margin-right: 0;
        /* background-color: aquamarine; */
  
  }

  .numero{
    width: 110px;
    margin-right: 0;
  }

  .comp{
    width: auto;
    margin-left: 0px;
    display: flex;
    
  }